.film-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    font-family: monospace;
    width: 100%;
    background-color: #f4f4f4;
}

